body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#email {
    width: 187px;
}